fastapi
uvicorn[standard]

sqlalchemy
pymysql

pydantic
pydantic-settings

python-dotenv

passlib[bcrypt]
bcrypt

python-jose[cryptography]

email-validator

python-multipart

alembic

apscheduler

fastapi-mail